html { 
  background: url(/dark-hardback.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap {
	margin-left: 33%;
	margin-top: 45%;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 20px
}