#wrap {
	background: url(/dark-hardback); no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	margin-left: 33%;
	margin-top: 15%;
	font-size: 60px;
}

h2 {
	margin-left: 33%;
	margin-top: 15%;
	font-size: 20px
}